
@media only screen and (max-width: 600px) {
    .position{
        //position: relative;
        z-index: -1000000;
        margin: auto;
        padding: 10px;

    }
  }
  @media only screen and (min-width: 600px) {

  .center {
    margin: auto;
    width: 30%;
    padding: 10px;
  }
}