<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Início</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Usuários</a>
        <a class="nav-item nav-link" (click)="logout()">Sair</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <!--p>
        <small class='text-light'>Bem-Vindo à Cyber Oficina</small>
    </p-->
    <p>
        <a href="https://www.9ember.com" target="_blank">9ember.com</a>
    </p>
</div>
